.mainButton {
    display: flex;
    flex-direction: column;
     justify-content: center;    
     gap:50px;
    background-image: url('https://media.istockphoto.com/id/1314193499/vector/calendar-and-stopwatch-flat-icon-calendar-schedule-time-appointment-and-planning-organizer.jpg?s=612x612&w=0&k=20&c=4RzzsxNcaapnoG0ivGA8_4lK9RsVfWBPfFArUygMA-E=');
    background-repeat: no-repeat;
    background-size: 47%;
     align-items: center; 
    height:100dvh;
    background-color: #0099dc;
    
    
}
.button{
    margin-right: 800%;
}